<!-- Conteneur avec image de fond et effet de flou -->
<div class="relative min-h-screen bg-cover bg-center flex flex-col justify-center items-center bg-[url('src/assets/background/rectangle-5.png')]">

  <!-- Formulaire avec effet de transparence et flou -->
  <div class="relative max-w-lg w-full mt-10 p-8 bg-[rgba(9,21,30,0.8)] backdrop-blur-lg rounded-3xl shadow-2xl transition-transform transform duration-500" style="max-width: 700px;">

    <!-- Conteneur centré avec largeur max de 460px -->
    <div class="w-full max-w-[460px] mx-auto">

      <!-- Texte "Inscription" plus gros -->
      <p class="text-center text-white text-4xl font-bold mb-2">
        Inscription
      </p>

      <!-- Texte plus petit pour la description -->
      <p class="text-center text-white font-light text-lg font-semibold mb-6 ">
        Discutez avec vos amis, créez des groupes et plus encore !
      </p>

      <!-- Formulaire d'inscription -->
      <form method="post" class="space-y-6">

        <!-- Bouton de connexion via Google avec logo -->
        <div class="text-center">
          <button class="w-full bg-[#09151e] text-white font-bold py-3 px-4 rounded-full border-2 border-white shadow-lg flex items-center justify-center hover:bg-[#202c34] transition-all duration-300 ease-in-out transform hover:scale-105 relative" (click)="signUpWithGoogle()">
            <!-- Logo Google décalé vers la gauche avec left-2 -->
            <span class="bg-google-icon bg-no-repeat bg-contain h-8 w-8 absolute left-2"></span>
            S'inscrire avec Google
          </button>
        </div>

        <!-- Ligne de séparation avec le texte "ou" au milieu -->
        <div class="flex items-center my-6">
          <div class="flex-grow border-t-2 border-[#3f4d54]"></div>
          <span class="mx-4 text-white font-medium">ou</span>
          <div class="flex-grow border-t-2 border-[#3f4d54]"></div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-white">E-mail</label>
          <input [(ngModel)]="email" type="email" id="email" placeholder="exemple@ychat.com" [ngModelOptions]="{standalone: true}" class="text-[#ecfefe] mt-2 font-light placeholder-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 transition-all duration-300" />
        </div>

        <div>
          <label for="pseudo" class="block text-sm font-medium text-white">Pseudo</label>
          <input [(ngModel)]="pseudo" type="text" id="pseudo" placeholder="Votre pseudo" [ngModelOptions]="{standalone: true}" class="text-[#ecfefe] mt-2 font-light placeholder-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 transition-all duration-300" />
        </div>

        <div class="relative">
          <label for="password" class="block text-sm font-medium text-white">Mot de passe</label>
          <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Votre mot de passe"
                 [ngModelOptions]="{standalone: true}"
                 class="text-[#ecfefe] mt-2 font-light placeholder-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 transition-all duration-300">

          <!-- Bouton pour afficher/masquer le mot de passe avec un span ayant un arrière-plan dynamique -->
          <span (click)="togglePasswordVisibility()"
                class="absolute right-3 top-10 h-6 w-6 bg-no-repeat bg-contain cursor-pointer"
                [ngClass]="showPassword ? 'bg-eye-icon' : 'bg-eyeSlash-icon'">
          </span>
        </div>

        <div class="relative mt-4">
          <label for="confirmPassword" class="block text-sm font-medium text-white">Confirmez le mot de passe</label>
          <input [(ngModel)]="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" placeholder="Confirmez votre mot de passe"
                 name="confirmPassword"
                 class="text-white mt-2 font-light placeholder-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 transition-all duration-300">

          <!-- Bouton pour afficher/masquer la confirmation du mot de passe avec un span ayant un arrière-plan dynamique -->
          <span (click)="toggleConfirmPasswordVisibility()"
                class="absolute right-3 top-10 h-6 w-6 bg-no-repeat bg-contain cursor-pointer"
                [ngClass]="showConfirmPassword ? 'bg-eye-icon' : 'bg-eyeSlash-icon'">
          </span>
        </div>
        <div [ngClass]="{'hidden': !isError, 'error-message': isError}" class="w-4/5">
          <button (click)="toggleError()" class="pt-2 text-red-600 right-0">{{errorMessage}}</button>
        </div>

        <!-- Bouton s'inscrire -->
        <button class="w-full bg-[#1ed7be] text-[#09151e] font-bold py-3 px-4 rounded-full shadow-lg hover:bg-gradient-to-r focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 transition-all duration-300 ease-in-out transform hover:scale-105" (click)="signUp()">S'inscrire</button>
        <div class="text-center">
          <a href="../auth/login" class="text-sm w-max text-white hover:text-pink-300 transition duration-300">Vous avez déjà un compte ?</a>
        </div>

      </form>
    </div>
  </div>
</div>
