<div class="relative min-h-screen bg-cover bg-center flex flex-col justify-center items-center bg-[url('src/assets/background/rectangle-4.png')]">

  <!-- Formulaire de mot de passe oublié avec effet de transparence et flou -->
  <div id="div_form" class="relative max-w-[700px] w-full p-8 bg-[rgba(9,21,30,0.8)] backdrop-blur-lg rounded-3xl shadow-2xl transition-transform transform duration-500">

    <!-- Conteneur centré avec largeur max de 400px -->
    <div class="w-full max-w-[400px] mx-auto">
      <h2 id="form-title" class="text-center text-white text-4xl font-bold mb-6">Mot de Passe Oublié ?</h2>
      <p class="text-center text-white font-light text-xl mb-6">Vous recevrez un e-mail afin de changer votre mot de passe.</p>

      <!-- Formulaire de mot de passe oublié -->
      <form id="forgot-password-form" method="post" class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium text-white">E-mail</label>
          <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" id="email" placeholder="exemple@ychat.com" class="mt-2 font-light placeholder-[#ecfefe] text-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 focus:bg-opacity-50 transition-all duration-300"/>
        </div>

        <!-- Bouton pour changer le mot de passe -->
        <button id="reset-password-btn" class="w-full bg-[#1ed7be] text-[#09151e] font-bold py-3 px-4 rounded-full shadow-lg hover:bg-gradient-to-r focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 transition-all duration-300 ease-in-out transform hover:scale-105" (click)="sendPasswordResetMail()">Changer de mot de passe</button>

        <!-- Option utilisateur -->
        <div class="flex flex-col items-center my-4">
          <div class="flex-grow border-t-2 border-[#3f4d54] my-2 w-full max-w-xs"></div>
          <span class="text-sm text-white cursor-pointer">
            <a href="../auth/login" class="hover:text-pink-300 transition duration-300 underline">Retour</a>
          </span>
        </div>

      </form>
    </div>
  </div>
</div>
