<div class="relative min-h-screen bg-cover bg-center flex flex-col justify-center items-center bg-[url('src/assets/background/rectangle.png')]">

  <!-- Formulaire de login avec effet de transparence et flou -->
  <div id="div_form" class="relative max-w-[700px] w-full p-8 bg-[rgba(9,21,30,0.8)] backdrop-blur-lg rounded-3xl shadow-2xl transition-transform transform duration-500">

    <!-- Conteneur centré avec largeur max de 400px -->
    <div class="w-full max-w-[400px] mx-auto">
      <h2 id="form-title" class="text-center text-white text-4xl font-bold mb-6">Connexion</h2>
      <p class="text-center text-white font-light text-xl mb-6">Discutez avec vos amis, créez des groupes et plus encore !</p>

      <!-- Bouton de connexion via Google -->
      <div class="text-center mb-6">
        <button class="w-full bg-[#09151e] text-white font-bold py-3 px-4 rounded-full border-2 border-white shadow-lg flex items-center justify-center hover:bg-[#202c34] transition-all duration-300 ease-in-out transform hover:scale-105" (click)="signInWithGoogle()">
          <span class="bg-google-icon bg-no-repeat bg-contain h-8 w-8 absolute left-2"></span>
          Se connecter avec Google
        </button>
      </div>

      <!-- Ligne de séparation avec le texte "ou" au milieu -->
      <div class="flex items-center my-6">
        <div class="flex-grow border-t-2 border-[#3f4d54]"></div>
        <span class="mx-4 text-white font-medium">ou</span>
        <div class="flex-grow border-t-2 border-[#3f4d54]"></div>
      </div>

      <!-- Formulaire de connexion classique -->
      <form id="login-form" method="post" class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium text-white">E-mail</label>
          <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" id="email" placeholder="exemple@ychat.com" class="mt-2 font-light placeholder-[#ecfefe] text-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 focus:bg-opacity-50 transition-all duration-300"/>
        </div>
        <div class="relative" id="password-field">
          <label for="password" class="block text-sm font-medium text-white">Mot de passe</label>

          <!-- Conteneur de l'input avec icône -->
          <div class="relative">
            <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Votre mot de passe"
                   [ngModelOptions]="{standalone: true}"
                   class="text-[#ecfefe] mt-2 font-light placeholder-[#ecfefe] block w-full px-4 py-3 bg-[#202c34] border border-[#3f4d54] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-pink-400 transition-all duration-300">

            <!-- Icône d'œil pour afficher/masquer le mot de passe -->
            <span (click)="togglePasswordVisibility()"
                  class="absolute right-4 top-1/2 transform -translate-y-1/2 h-6 w-6 bg-no-repeat bg-contain cursor-pointer"
                  [ngClass]="showPassword ? 'bg-eyeSlash-icon' : 'bg-eye-icon'">
            </span>
          </div>
        </div>

        <!-- Bouton de connexion classique -->
        <button id="login-btn" class="w-full bg-[#1ed7be] text-[#09151e] font-bold py-3 px-4 rounded-full shadow-lg hover:bg-gradient-to-r focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 transition-all duration-300 ease-in-out transform hover:scale-105" (click)="signIn()">Se connecter</button>

        <!-- Option utilisateur -->
        <div class="flex flex-col items-center my-4">
          <a href="../auth/forgotPassword" id="forgot-password-link" class="text-sm font-semibold text-white hover:text-pink-300 transition duration-300 cursor-pointer">Mot de passe oublié ?</a>
          <div class="flex-grow border-t-2 border-[#3f4d54] my-2 w-full max-w-xs"></div>
          <span class="text-sm text-white">Vous n'avez pas de compte ?
            <a href="../auth/register" class="hover:text-pink-300 font-semibold transition duration-300 underline">S'inscrire</a>
          </span>
        </div>

      </form>
    </div>
  </div>
</div>
