:host {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.my-message {
  @apply self-end text-right bg-blue-100 p-4 text-lg rounded-lg m-2 max-w-[45%] break-words relative;
}

.other-message {
  @apply self-start text-left bg-gray-100 p-4 text-lg rounded-lg m-2 max-w-[45%] break-words;
}
