/* Custom Scrollbar */
#messageContainer::-webkit-scrollbar {
  width: 12px; /* Largeur totale de la scrollbar */
}

#messageContainer::-webkit-scrollbar-thumb {
  background-color: #3f4d54; /* Couleur du pouce */
  border-radius: 10px; /* Coins arrondis pour le pouce */
  width: 6px; /* Réduit la largeur du pouce */
  border: 3px solid #1c262c; /* Ajoute un contour qui "réduit" visuellement la largeur du pouce */
}

#messageContainer::-webkit-scrollbar-track {
  background-color: #1c262c; /* Couleur de la piste (barre grise) */
  border-radius: 10px; /* Coins arrondis pour la piste */
}

#infoContainer {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
}

#infoContainer.translate-x-0 {
  opacity: 1;
  transform: translateX(0);
}

#infoContainer.translate-x-full {
  opacity: 0;
  transform: translateX(100%);
}

.error-message {
  animation: fadeInOut 4s ease-in;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

