<div class="min-h-screen bg-[url('src/assets/background/rectangle-2.png')] bg-cover bg-center flex flex-col overflow-x-hidden">
  <!-- Header -->
  <header class="h-[8vh] w-full bg-[rgba(9,21,30,0.9)] flex items-center justify-end px-4 fixed z-50">
    <div class="flex items-center space-x-4">
      <!-- User Icon and Text -->
      <a href="#" class="flex items-center text-white">
        <span class="h-8 w-8 mr-1 bg-user-icon"></span>
        <span>{{pseudo}}</span>
      </a>

      <!-- Sign Out Icon and Text -->
      <a href="#" class="flex items-center text-white">
        <span class="h-8 w-8 mr-1 bg-signout-icon"></span>
        <span (click)="signOut()">Se déconnecter</span>
      </a>
    </div>
  </header>

  <div class="flex flex-1">

    <!-- Left Sidebar for Discussions/Groups -->
    <aside class="w-[15%] p-4 rounded-[16px] mx-4 my-4 relative mt-[80px]"></aside>
    <!-- Left Sidebar for Discussions/Groups -->
    <aside class="w-[15%] h-[90%]  bg-[rgba(9,21,30,9)] p-4 rounded-[16px] mx-4 my-4 fixed mt-[80px]">
      <!-- Title and Add Chat Icon -->
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-white text-lg font-semibold">Conversation</h2>
        <span class="h-8 w-8 bg-add-chat-icon cursor-pointer" (click)="togglePopup()"></span>
      </div>

      <!-- Discussions/Groups -->
      <ul class="space-y-4">
        <li *ngFor="let group of userGroups" class="flex items-center text-white hover:text-pink-300 cursor-pointer">
          <span class="h-8 w-8 mr-2 bg-chats-icon"></span>
          <span (click)="changeGroup(group.name)">{{ group.name }}</span>
        </li>
        <li *ngFor="let group of userConv" class="flex items-center text-white hover:text-pink-300 cursor-pointer">
          <span class="h-8 w-8 mr-2 bg-chats-icon"></span>
          <span (click)="changeGroup(group.name)">{{ getOtherParticipant(group.name) }}</span>
        </li>
      </ul>

      <!-- Popup Menu -->
      <div *ngIf="isPopupVisible" class="absolute left-[80%] top-[7%] w-[400px] bg-[rgba(9,21,30,1)] text-white rounded-lg p-4 shadow-lg z-[1000]">
        <!-- Popup Content -->
        <div class="mb-4">
          <h3 class="font-semibold text-lg">Créer une conversation</h3>
        </div>

        <label class="block my-2">Chercher un nom d'utilisateur</label>
        <input type="text" [(ngModel)]="toConv" (keydown.enter)="addConv()" placeholder="Nom d'utilisateur" class="w-full font-light bg-[#202c34] border-2 border-[#3f4d54] text-white px-4 py-2 rounded focus:outline-none placeholder:text-[#ecfefe] mb-4"/>

        <!-- Create Conversation Button -->
        <button (click)="addConv()" class="w-3/4 bg-[#1ed7be] text-[#09151e] font-bold py-2 px-2 rounded-full shadow-lg hover:bg-gradient-to-r focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 transition-all duration-300 ease-in-out transform hover:scale-105">
          Créer une conversation privée
        </button>

        <label class="block my-2">Choisir le nom de la conversation</label>
        <input type="text" [(ngModel)]="name" (keydown.enter)="addGroup()" placeholder="Nom de la conversation" class="w-full font-light bg-[#202c34] border-2 border-[#3f4d54] text-white px-4 py-2 rounded focus:outline-none placeholder:text-[#ecfefe] mb-4"/>

        <!-- Create Conversation Button -->
        <button (click)="addGroup()" class="w-3/4 bg-[#1ed7be] text-[#09151e] font-bold py-2 px-2 rounded-full shadow-lg hover:bg-gradient-to-r focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 transition-all duration-300 ease-in-out transform hover:scale-105">
          Créer un groupe
        </button>
      </div>
    </aside>

    <!-- Middle Section for Displaying Discussion -->
    <main class="flex-1 p-4 flex flex-col items-center relative">
      <!-- Bande de couleur sous le header (Keep this at full width) -->
      <div class="h-[80px] w-[81%] rounded-2xl bg-[rgba(9,21,30,0.9)] flex items-center justify-between px-4 mt-[80px] fixed z-40">
        <!-- Icon and Text on the Left -->
        <div class="flex items-center text-white">
          <span class="h-8 w-8 bg-chats-icon mr-2"></span>
          <span>{{ group === '' ? 'Ajoutez un utilisateur ou créer un groupe pour commencer à discuter' : group }}</span>
        </div>
        <!-- Icon on the Right with Dynamic Background Color -->
        <span class="h-10 w-10 bg-user-three-icon cursor-pointer rounded bg-cover"
              [ngClass]="{'bg-[#3f4d54]': isContainerVisible}"
              (click)="toggleContainer()"></span>
      </div>

      <!-- Container for messages and input -->
      <div class="flex flex-col w-full mt-[174px] transition-all duration-300">
        <!-- Messages Display Area (Dynamically resized without centering) -->
        <div #messageContainer class="flex flex-col h-[68vh] p-4 rounded-lg overflow-y-scroll transition-all duration-300 "
             id="messageContainer" [ngStyle]="{'width': isContainerVisible ? 'calc(100% - 27%)' : '100%'}">
          <!-- Messages -->
          <div *ngFor="let message of messages" class="flex mb-4"
               [ngClass]="{'justify-end': message.user === pseudo, 'justify-start': message.user !== pseudo}">
            <div class="flex flex-col max-w-[30%]">
              <div [ngClass]="{'text-right': message.user === pseudo, 'text-left': message.user !== pseudo}"
                   class="font-semibold text-[#ecfefe]">{{ message.user }}</div>
              <div [ngClass]="{'text-right': message.user === pseudo, 'text-left': message.user !== pseudo}"
                   class="text-[#ecfefe]">
                {{ formatTimestamp(message.timestamp) }}
              </div>
              <div *ngIf="message.text" class="message p-2 rounded bg-[#3f4d54] text-white break-words">
                {{ message.text }}
              </div>

              <!-- Vérification de l'URL du fichier -->
              <div *ngIf="message.fileUrl">
                <ng-container *ngIf="isImageFile(message.fileUrl); else mediaFile">
                  <img [src]="message.fileUrl" alt="Image" class="max-w-full h-auto rounded mt-2 cursor-pointer" (click)="enlargeImage(message.fileUrl)"></ng-container>
                <ng-template #mediaFile>
                  <ng-container *ngIf="isVideoFile(message.fileUrl); else audioFile">
                    <video [src]="message.fileUrl" alt="Video" class="max-w-full h-auto rounded mt-2" controls></video>
                  </ng-container>
                  <ng-template #audioFile>
                    <ng-container *ngIf="isAudioFile(message.fileUrl); else fileLink">
                      <audio [src]="message.fileUrl" controls class="max-w-full h-auto rounded mt-2"></audio>
                    </ng-container>
                    <ng-template #fileLink>
                      <a [href]="message.fileUrl" target="_blank" class="text-blue-500 underline mt-2">View File</a>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


        <!-- Input for Sending Messages -->
        <div class="w-full mt-4 flex items-center bg-[rgba(9,21,30,0.9)] p-3 rounded-2xl transition-all duration-300"
             [ngStyle]="{'width': isContainerVisible ? 'calc(100% - 27%)' : '100%'}">
          <input type="text" [(ngModel)]="message" (keydown.enter)="sendMessage()" placeholder="Envoyer un message..." class="flex-1 font-light bg-[#202c34] border-2 border-[#3f4d54] text-white px-4 py-2 rounded focus:outline-none placeholder:text-[#ecfefe]"/>

          <label class="h-8 w-8 ml-2 cursor-pointer">
            <input type="file" (change)="onFileSelected($event)" class="hidden">
            <span class="block h-full w-full bg-[url('src/assets/icons/Plus.svg')] bg-cover"></span>
          </label>

          <!-- Icon for sending message with background color -->
          <span class="h-10 w-10 ml-2 bg-[#1ed7be] cursor-pointer flex items-center justify-center rounded">
            <span (click)="sendMessage()" class="bg-paper-place-tilt-icon h-8 w-8"></span>
          </span>
        </div>
      </div>

      <!-- Right Popup Container (Appears when isContainerVisible is true) -->
      <div id="infoContainer" [ngClass]="{'translate-x-full opacity-0': !isContainerVisible, 'translate-x-0 opacity-100': isContainerVisible}"
           class="absolute right-0 min-h-[75%] w-[25%] bg-[rgba(9,21,30,0.9)] p-4 rounded-[16px] mx-4 mb-4 mt-48 transition-transform transition-opacity duration-300 transform overflow-y-auto">

        <!-- Text and Icon for Group Members, Icon Aligned to the Right -->
        <div class="flex items-center justify-between mb-4 max-h-[90%]">
          <h2 class="text-white text-lg font-semibold">Membre de groupe</h2>
          <span class="h-8 w-8 bg-[url('src/assets/icons/UserPlus.svg')] bg-cover cursor-pointer" (click)="togglePopupAddInGroup()"></span>
        </div>

        <div [ngClass]="{'hidden': !isPopupAddInGroupVisible}" class="absolute w-[90%] h-[35%] bg-[rgba(9,21,30,1)] text-white rounded-lg flex flex-col p-4 z-50">
          <div class="w-full text-lg pb-5 font-semibold">Ajouter un membre au groupe</div>

          <label class="w-full font-light mb-2">Chercher un ou plusieurs noms d'utilisateur</label>

          <div class="flex h-[20%] w-full">
            <input [(ngModel)]="memberListTmp" (keydown.enter)="addInGroupList()" type="text" placeholder="Entrez le nom d'un utilisateur"
                   class="w-5/6 h-full bg-[#202c34] border-2 border-[#3f4d54] text-white px-4 py-2 rounded-l-lg focus:outline-none placeholder:text-[#ecfefe]"/>

            <button (click)="addInGroupList()"
                    class="w-1/6 h-full bg-[url('src/assets/icons/Plus.svg')] bg-no-repeat bg-center bg-contain rounded-r-lg focus:outline-none focus:ring-2 focus:ring-pink-400 transition-all duration-300 ease-in-out">
            </button>
          </div>
          <div [ngClass]="{ 'error-message': isError}" class="w-full">
            <button (click)="toggleError()" class="text-red-600 right-0 min">{{errorMessage}}</button>
          </div>


          <ul class="flex flex-col space-y-2 mt-4">
            <li *ngFor="let name of memberList" class="flex items-center justify-between w-full bg-[#3f4d54] p-2 rounded">
              {{name}}
              <button (click)="removeInGroupList(name)" class="bg-red-500 text-white p-1 rounded">X</button>
            </li>
          </ul>

          <button (click)="addInGroup()"
                  class="w-full mt-4 bg-[#1ed7be] text-[#09151e] font-bold py-2 px-2 rounded-full shadow-lg hover:bg-gradient-to-r focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 transition-all duration-300 ease-in-out transform hover:scale-105">
            Ajouter au groupe
          </button>
        </div>
        <div class="flex flex-col space-y-4">
          <div *ngFor="let member of members" class="flex flex-col justify-between text-white">
            <!-- User Icon and Name -->
            <div class="flex justify-between pb-2.5">
              <span class="h-8 w-8 bg-[url('src/assets/icons/user.svg')] bg-cover mr-2"></span>
              <span>{{ member }}</span> <!-- Affiche le nom du membre -->
              <span (click) = "removeInGroup(member)" class="h-6 w-6 bg-[url('src/assets/icons/Close.svg')] bg-cover cursor-pointer"></span>
            </div>
          </div>
        </div>
      </div>
    </main>


  </div>
  <div *ngIf="enlargedImageUrl" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50" (click)="closeImage()">
    <img [src]="enlargedImageUrl" (click)="$event.stopPropagation()">
  </div>
</div>
